<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="login-card">

    <div class="logo-container">
        <i class="fa-solid fa-trophy logo-icon"></i>
        <p class="logo-text">Tornei di Calcio</p>
    </div>

    <h2>ACCEDI AL TUO ACCOUNT</h2>

    <form th:action="@{/login}" method="POST" autocomplete="off">

        <div class="input-group">
            <label for="username">Username:</label>
            <div class="input-wrapper">
                <i class="fa-regular fa-user icon-left"></i>
                <input type="text" id="username" name="username" placeholder="Inserisci il tuo username" required autocomplete="one-time-code">
            </div>
        </div>

        <div class="input-group">
            <label for="password">Password:</label>
            <div class="input-wrapper">
                <i class="fa-solid fa-lock icon-left"></i>
                <i class="fa-regular fa-eye icon-right" id="togglePassword"></i>
                <input type="password" id="password" name="password" placeholder="Inserisci la tua password" required autocomplete="current-password">
            </div>
        </div>

        <button type="submit" class="btn-submit">Accedi</button>

        <div th:if="${param.error}" style="margin-top: 15px; color: red; text-align: center; font-weight: 500;">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <span>Credenziali sbagliate</span>
        </div>
    </form>

    <div class="footer-link">
        Non hai ancora un account? <a th:href="@{/registrazione}">Registrati</a>
    </div>

</div>

<script th:src="@{/js/mostraPassword.js}"></script>
</body>
</html>