<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Tornei</title>
    <link rel="stylesheet" th:href="@{/css/style2.css}">
</head>
<body>

<h1>Lista Tornei</h1>

<div class="container">
    <ul>
        <li th:each="torneo : ${tornei}">
            <a th:href="@{'/torneo/' + ${torneo.id}}">
                <span th:text="${torneo.nome}"></span>
            </a>
            - <span th:text="${torneo.anno}"></span>
        </li>
    </ul>
    <div style="margin-top: 1.5rem; display: flex; gap: 1rem; flex-wrap: wrap; justify-content: center;">
        <a th:href="@{/}" class="button button-secondary">← Torna al Menù</a>
        <a th:href="@{/tornei/torneo/nuovo}" class="button" sec:authorize="hasRole('ADMIN')">Crea nuovo torneo</a>
    </div>
</div>

</body>
</html>